.contenedor{
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.item-mapa{
    flex: 1 1 80%;
}

#isp-markers{
    border: 1px solid black;
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: white;
    overflow-y: auto;
}


/*#isp-markers ul{
    max-height: 400px;
    overflow-y: scroll;
}*/

.item-form{
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

.button-isp{
    margin: 4px 0 0 4px;
}

ul li span:hover{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .contenedor{
        flex-direction: column;
    }

    .item-mapa{
        flex: 1 1 100%;
    }

    .item-form{
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}