<div class="container">
    <div class="row">
        <div class="col s12 m6">
              <div class="text-center" id="map-info" style="width:100%;height:360px;"></div>
        </div>
        <div class="col s12 m6">
              <div class="card blue">
                    <div class="card-content white-text">
                         <span class="card-title">Red WiFi Local</span>
                         <p class="flow-text">Proveedor: {{ ispInfo.isp|default:'TU Proveedor'}}</p>
                         <p class="flow-text">IP: {{ ispIp|default:'Desconocido'}}</p>
                         <p class="flow-text">Pa&iacute;s: {{ ispInfo.country|default:'Desconocido'}}</p>
                         <p class="flow-text">Ciudad: {{ ispInfo.city|default:'Desconocido'}}</p>
                         <p class="flow-text">latitud/longitud: {{ ispInfo.lat|default:'Desconocido'}}</p>
                    </div>
                    <div class="card-action">
                         <a href="{% url 'social:begin' 'facebook' %}?coords=">Enviar con Facebook</a>
                    </div>
              </div>
        </div>
    </div>
</div>