<style type="text/css">
  .input-field input[type=text]:focus {
    border-bottom: 5px solid #fff;
    box-shadow: 0 5px 0 0 #fff;
  }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
              <div class="text-center" id="map-info" style="width:100%;height:360px;"></div>
        </div>
        <div class="col s12 m6">
              <div class="card light-blue lighten-3">
                    <div class="card-content black-text">
                         <span class="card-title" style="font-family: 'Arial Black';"><h5>Red WiFi Local</h5></span>
                         <p class="flow-text">Proveedor: {{ ispInfo.isp|default:'TU Proveedor'}}</p>
                         <p class="flow-text">IP: {{ ispIp|default:'Desconocido'}}</p>
                         <p class="flow-text">Pa&iacute;s: {{ ispInfo.country|default:'Desconocido'}}</p>
                         <p class="flow-text">Ciudad: {{ ispInfo.city|default:'Desconocido'}}</p>
                         <p class="flow-text">latitud/longitud: {{ ispInfo.lat|default:'Desconocido'}} / {{ ispInfo.lon|default:'Desconocido'}}</p>
                    </div>
                    <div class="card-content black-text">
                      <p class="flow-text" style="font-size: 125%;">
                        <i><strong>¿No es tu proveedor de internet? <br> Escribenos cual es tu proveedor y comparte.</strong></i> 
                      </p>

  <div class="row">
    <div class="input-field col s6">
      <input id="isp_reported" type="text" placeholder="">
    </div>
  </div>
                    </div>
                    <div class="card-action">
                    <input type="hidden" name="shareLink" id="shareLink">
                        <a class="waves-effect waves-light btn-large yellow-text" id="shareBtn">Enviar con Facebook</a>
                    </div>
                  <!-- <br>
                       <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" onclick=""></div> -->
              </div>
        </div>
    </div>
</div>
