<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>{% block title %} ISP Finder {% endblock %}</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2XDKonqjSaAaVAeWqnLX5JdVwBQi-Gsg&amp;libraries=places,geometry&amp;region=ec&amp;language=es"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9&appId=839343722883925";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="container-fluid">
    <header>
        <div class="row">
              <nav class="nav-extended">
                    <div class="nav-wrapper">
                            <a href="#" class="brand-logo">ISP Finder Project</a>
                    </div>
                    <div class="nav-content">
                        <ul class="tabs tabs-transparent">
                            <li class="tab"><a class="active" href="#consultar">Consultar</a></li>
                            <li class="tab"><a href="#mapa">Mapa</a></li>
                            <li class="tab"><a href="#info">Informaci&oacute;n</a></li>
                        </ul>
                    </div>
              </nav>
        </div>
    </header>

    <main>
          <div id="consultar" class="col s12">Test 1</div>
          <div id="mapa" class="col s12">Test 2</div>
          <div id="info" class="col s12">Test 3</div>
    </main>
</div>
<script>
      var map_info, map_users;

       $('a[href="#mapa"]').click(function(e) {
            setTimeout(initialise, 500);
       });

       function initialise() {
            var myMap = document.getElementById('map-users');
            google.maps.event.trigger(myMap, 'resize');
       }

      function showError(error)
      {
            switch (error.code)
            {
                case error.PERMISSION_DENIED:
                    alert("El requerimiento negado por el usuario");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Informacion de localizacion no disponible");
                    break;
                case error.TIMEOUT:
                    alert("Tiempo de espera expirado");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("ERROR DESCONOCIDO");
                    break;
            }
      }

      function showPosition(position)
      {
            // Create a Google coordinate object for where to center the map
            var latlng = new google.maps.LatLng( position.coords.latitude, position.coords.longitude );
            var infoOptions = {
              zoom:12,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              center: latlng,
              draggable: false
            };
            var myOptions = {
              zoom:10,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              center: latlng
            };
            map_info = new google.maps.Map(document.getElementById("map-info"), infoOptions);
            map_users = new google.maps.Map(document.getElementById("map-users"), myOptions);
            var marker = new google.maps.Marker( {
                position: latlng,
                map: map_info,
                icon: 'http://m.schuepfen.ch/icons/helveticons/black/60/Pin-location.png'
            });
      }

      function initMap()
      {
            if (navigator.geolocation)
            {
               navigator.geolocation.getCurrentPosition(showPosition,showError);
            } else
            {
               // Browser doesn't support Geolocation
               console.log("Browser doesn't support Geolocation");
            }
      }

      google.maps.event.addDomListener(window, 'load', initMap);
</script>
<script>
function getIP(json) {
	$('#userIp').html("IP US: " + json.ip);
}

$(document).ready(function(){
	$.get("http://ipinfo.io", function(response) {
	    console.log(response.ip);
	    $('.ip-isp').text(response.ip);
	}, "jsonp");
});
</script>
<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
</body>
</html>
